<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myXmlCaLc" class="com.gal.algo.MyCalc" scope = "singleton" init-method = "OnInit" destroy-method = "Destructor"/>

    <bean id="myxmlStringBuilder" class="java.lang.StringBuilder">
        <constructor-arg value="Hello from xml string builder"/>
    </bean>
</beans>